#naming pattern: cultural_type tier_number - prereq_current_feudal (replacement_patrician) *oldprereq_feudal

Regional Traditions 3 - taxfarming 1 <tech> (x) *defsystem 3 
Regional Traditions 4 - <tech> (x) *defsystem 4 
Regional Traditions 5 - <tech> (x) *defsystem 5 
Regional Traditions 6 - <tech> (x) *defsystem 6 
Regional Traditions 7 - <tech> (x) *defsystem 7 

Regional Levies 3 - Regional Traditions 3 (x)
Regional Levies 4 - Regional Traditions 4 (x)
Regional Levies 5 - Regional Traditions 5 (x)
Regional Levies 6 - Regional Traditions 6 (x)
Regional Levies 7 - Regional Traditions 7 (x)

Cultural Unit 1 - admin 4 (presence 7)
Cultural Unit 2 - admin 7 (connections 7)
Cultural Unit 3~7 - <tech>

Levy Specialization 1 - definit 1 (sword 1 merc 1) *wall 1
Levy Specialization 2 - definit 5 (sword 2 merc 2) *village 2
Levy Specialization 3 - defpolicy 1 (sword 3 merc 3) *wall 3
Levy Specialization 4 - defpolicy 5  (sword 4 merc 4)*police 2
Levy Specialization 5 - defsystem 5 (sword 5 merc 5)
Levy Specialization 6 - localaristocracy 1 (sword 6 merc 6)
Levy Specialization 7 - localaristocracy 3 (sword 7 merc 7) *household 1

Professional Levies 1 - milass 1 (central 6) 
Professional Levies 2 - milass 3 (central 7)*concent 1
Professional Levies 3 - milass 6 (guild 1) *concent 5
Professional Levies 4 - concent 1 (guild 2) *proftroop 1
Professional Levies 5 - concent 3 (guild 3) *proftroop 3
Professional Levies 6 - concent 6 (guild 4) *proftroop 5
Professional Levies 7 - proftroops 1 (guild 5) *proftroops 7

Cultural Elite Unit 1 - Professional Levies 7
Cultural Elite Unit 2 - proftroops 4 (guild 6) *bureaucracy 4
Cultural Elite Unit 3 - proftroops 7 (guild 7) *bureaucracy 7